:root {
    --highlight: rgb(244, 195, 255);
    --bg: rgb(246, 253, 255);
    --margin: black;
    --headerSize: 90px
}

body{
    margin: 0%;
    display: grid;
    grid-template-areas:
      'header'
      'main';
    background-color: var(--bg);
}

header{
    grid-area: header;
    display: grid;
    justify-content: right;
    background-color: var(--highlight);
    grid-template-areas:
        'menu eng fra';
    gap: 1vw;
    padding-right: 1vw;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: var(--margin);
    font-size: 25px;
    height: var(--headerSize);
}
header>p{
    display: flex;
    align-items: center;
}
header>p>img{
    width: 70px;
    height: 40px;
}

#menu{
    margin-right: 10px;
    padding: 10px;
    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: var(--margin);
}

#contact{
    display: none;
    padding: 10px;
    background-color: var(--highlight);
    border-width: 3px;
    border-style: solid;
    border-color: var(--margin);
    position: absolute;
    right: 0;
    top: var(--headerSize);
    margin: 0;
}

#contact>li{
    padding: 2px;
    padding-right: 10px;
}

#menu:hover #contact{
    display: block;
}

#contact:hover #contact{
    display: block;
}

#main{
    background-color: var(--bg);
    grid-area: main;
    display: grid;
    grid-template-areas:
    'about portfolio';
}

#about{
    margin-left: 15px;
    margin-top: 15px;
    grid-area: about;
    display: grid;
    gap: 0.5vh;
    background-color: var(--highlight);
    grid-template-areas:
    'pic me';
    width: 50vw;
    border-width: 3px;
    border-style: solid;
    border-color: var(--margin);
}

#mypic{
    margin: 10px;
    height: 40vh;
    grid-area: pic;
    border-width: 2px;
    border-style: solid;
    border-color: var(--margin);
    border-radius: 20vh;
}

.me{
    grid-area: me;
    margin-right: 15px;
}

#portfolio{
    grid-area: portfolio;
    width: 40vw;
    background-color: var(--highlight);
    margin-left: 15px;
    margin-top: 15px;
    border-width: 3px;
    border-style: solid;
    border-color: var(--margin);
    display: grid;
    grid-template-areas:
    'certif proj';
}

.port-div{
    padding: 10px;
}

#cert{
    border-right-width: 3px;
    border-right-style: solid;
    border-right-color: var(--margin);
}

li{
    list-style-type: none;
}

