body {
    background-color: rgb(67, 161, 228);
    margin: 20px;
    display: flex;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#center {
    border-style: solid;
    border-color: black;
    border-width: 3px;
    border-radius: 40px;
    display: flex;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    flex-direction: column;
}

a:visited {
    color: #6b6b6b;
}

/* -------------- Header ----------------------*/

header {
    font-size: 25px;
    display: flex;
    width: 100%;
}

.title {
    font-weight: normal;
    font-size: 30px;
    display: flex;
    flex-wrap: nowrap;
}

.title>b {
    margin-right: 4px;
}

ul#menu {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: right;
    flex-wrap: nowrap;
}

ul#menu>li {
    display: flex;
    margin-left: 10px;
    font-size: smaller;
    align-items: center;
    height: 43px;
}

ul#menu>li.curent {
    text-shadow: 1px 0px 0px black;
}

ul#menu>li:hover {
    text-decoration: underline;
}

#lang {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    border-style: solid;
    border-color: #000;
    border-width: 2px;
}

#lang:hover {
    width: 43px;
    height: 43px;
    margin-left: 7px;
}

#colapsed {
    display: none;
}

#colapsedParent {
    display: none;
}

/* -------------- About Me ----------------------*/

#portrait {
    height: 300px;
    border-radius: 50%;
    border-style: double;
    border-color: black;
    border-width: 8px;
    background-color: white;
}

#aboutme {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

#aboutme-text {
    width: 30%;
    margin: 0;
    margin-left: 15px;
}

#title {
    color: rgba(0, 0, 0, 0.624);
}

#name {
    font-weight: bold;
}

/* -------------- Resume ----------------------*/

#resume {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.subdiv {
    padding-left: 16px;
    padding-right: 5px;
    border-left-style: solid;
}

.subdiv>ul {
    margin: 0;
    padding: 0;
}

/* -------------- Portfolio ----------------------*/

#portfolio {
    display: flex;
    justify-content: center;
}

.subcenter {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.intro {
    text-align: left;
}

.gitimg {
    height: 30px;
}

table#portfolioTable {
    border-collapse: collapse;
}

.port,
.porth {
    border: 1.5px solid black;
    padding: 8px;
}

.port {
    text-align: left;
}

.port>a {
    text-decoration: none;
    color: #000;
    display: block;
    width: 100%;
    padding: 8px;
}

.port:nth-child(1):hover {
    text-decoration: underline;
}

.porth {
    text-align: center;
}

.port:nth-child(2),
.porth:nth-child(2) {
    border-left-style: none;
    padding: 0;
}

.port:nth-child(1),
.porth:nth-child(1) {
    border-right-style: none;
    padding: 0;
}

/* -------------- Contact ----------------------*/

#contact {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.icon {
    width: 35px;
    height: 35px;
}

.cont>a {
    text-decoration: none;
    color: #000;
    display: block;
    width: 100%;
    padding: 8px;
    text-align: right;
    font-size: 18px;
}

.cont>a:hover {
    text-decoration: underline;
}

.contTable {
    border-collapse: collapse;
}

/* -------------------------------------------------*/
/* ------------------ Responive --------------------*/
/* -------------------------------------------------*/


/* ------------------ Vertical Phone --------------------*/
@media (max-aspect-ratio: 8/10) {
    body {
        background-color: rgb(67, 161, 228);
    }

    #center {
        border-width: 5px;
    }

    /* ------------------ Header --------------------*/
    ul#menu {
        display: none;
    }

    #dropdownmenu {
        display: block;
        position: absolute;
        top: 150px;
        background-color: white;
        border: 3px solid black;
        flex-direction: column;
        width: fit-content;
        padding: 0;
    }

    #dropdownmenu>li {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 50px;
        display: block;
        justify-content: center;
    }

    #dropdownmenu>li.curent {
        background-color: lightgray;
    }

    .title {
        font-size: 60px;
    }

    #colapsedParent {
        display: flex;
        width: 100%;
        justify-content: right;
        flex-wrap: nowrap;
        align-items: center;
    }

    #colapsedParent img {
        height: 70px;
        width: 70px;
    }

    #colapsedParent a {
        margin-right: 30px;
    }

    #colapsed {
        display: inline-block;
        border: none;
        background-color: transparent;
        margin-right: 30px;
    }

    #colapsed img {
        height: 60px;
    }

    /* ------------------ About Me --------------------*/

    #aboutme {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 35px;
    }

    #aboutme-text{
        width: 70%;
    }

    #portrait {
        height: 450px;
        width: 450px;
        border-radius: 50%;
        border-style: double;
        border-color: black;
        border-width: 10px;
        background-color: white;
    }

    /* ------------------ Resume --------------------*/

    #resume {
        display: flex;
        flex-direction: column;
    }

    .subdiv {
        border-left-style: none;
        border-top-style: solid;
        margin-top: 20px;
        border-width: 3px;
    }
    
    .subdiv>ul {
        margin: 0;
        padding: 0;
        font-size: 30px;
    }

    .subdiv h3 {
        font-size: 35px;
    }

    /* -------------- Portfolio ----------------------*/
    
    .subcenter {
        width: 95%;
        display: flex;
        flex-direction: column;
        font-size: 30px;
    }

    .porth {
        border-width: 3px;
    }

    .port {
        text-align: left;
        border-width: 3px;
    }

    .gitimg {
        height: 60px;
        width: 60px;
    }

    /* -------------- Contact ----------------------*/

    .icon {
        width: 70px;
        height: 70px;
    }
    
    .cont>a {
        font-size: 35px;
    }
}


/* ------------------ Horizontal Phone --------------------*/

@media (min-aspect-ratio: 10/5) {
    body {
        background-color: rgb(67, 161, 228);
    }
}